
@{
    Layout = null;
    VMSearchWebDocReqeust condtion = ViewBag.condtion;
    string q = JsonConvert.SerializeObject(condtion);
    string pageId = ViewBag.pageId;
    List<VMComboBox> funlist = SysHelp.getSysSetList<List<VMComboBox>>("FunWebCms.xml");
}
<script>
    $(document).ready(function () {
        var request = $.parseJSON('@Html.Raw(q)');

        var grid = $("#@(pageId)grid");

        var query = $("#@(pageId)query");


        function loadGrid() {
            console.log(request);
            grid.datagrid("loading");
            $.post("/api/ApiWebPages/searchWebDocList", request, function (json) {
                console.log(json);
                grid.datagrid("loaded");
                gridLoadData(grid, json);
            });
        }

        $("#@(pageId)selectfun").combobox({
            valueField: 'id',
            textField: 'text',
            url: '/api/ApiWebPages/getfunlist',
            method: 'get',
            multiple: false,
            editable: false,
            required: false,
            panelHeight: 'auto'
        });

        grid.datagrid({
            fit: true,
            border: false,
            fitColumns: true,
            striped: true,
            pagination: true,
            rownumbers: true,
            pageNumber: request.page,
            pageSize: request.pageSize,
            singleSelect: true,
            idField: "Id",
            columns: [[
                {
                    field: 'Id', title: 'Id'
                },
                {
                    field: 'fun', title: '类型', formatter(value, row, index) {
                        return value.text;
                    }
                },
                {
                    field: 'caption', title: '标题'
                },
                {
                    field: 'cat', title: '分类', formatter(value, row, index) {
                        var s = "";
                        $.each(row.cat, function (i, n) {
                            s += n.text + ",";
                        });
                        s = s.substring(0, s.length - 1);
                        return s;
                    }
                },
                {
                    field:'alias',title:'别名'
                },
                {
                    field: 'showTime', title: '发布时间',
                    formatter: function (value, row, index) {
                        if (value != null) {
                            return new Date(value).Format("yyyy-MM-dd");
                        }
                    }
                },
                {
                    field: 'createdOn', title: '创建时间',
                    formatter: function (value, row, index) {
                        if (value != null) {
                            return new Date(value).Format("yyyy-MM-dd hh:mm");
                        }
                    }
                },
                {
                    field: 'createdBy', title: '创建者',
                    formatter: function (value, row, index) {
                        return value.showName;
                    }
                },
                {
                    field: 'modifiedOn', title: '修改时间',
                    formatter: function (value, row, index) {
                        if (value != null) {
                            return new Date(value).Format("yyyy-MM-dd hh:mm");
                        }
                    }
                },
                {
                    field: 'modifiedBy', title: '修改者',
                    formatter: function (value, row, index) {
                        return value.showName;
                    }
                },
                {
                    field: 'describe', title: '描述'
                }
            ]],
            toolbar: "#@(pageId)tb",
            onDblClickRow: function (rowIndex, rowData) {
                var url = "@Url.Action("edit", "ManagerWebDoc")";
                url = url + rowData.fun.id + "?pageId=@(pageId)&Id="+rowData.Id;
                console.log(url);
                $("#@(pageId)dd").dialog({
                    href: url,
                    title: '编辑:' + rowData.fun.text + ',' + rowData.caption
                });
                $("#@(pageId)dd").dialog("open");
            }
        });

        //网格删除按钮
        $("#@(pageId)delrow").click(function () {
            var row = grid.datagrid("getSelected");
            if (row == null) {
                $.messager.alert('错误', "请先选中一行", 'error');
            }
            else {
                $.messager.confirm('请确认', '确定删除文档:' + row.caption + "?", function (r) {
                    if (r) {
                        $.getJSON("/api/ApiWebPages/delete/" + row.Id, function (json) {
                            showmsg(json);
                            loadGrid();
                        });
                    }
                });
            }
        });

        loadGrid();

        //翻页设置
        grid.datagrid('getPager').pagination({
            onSelectPage: function (pPageIndex, pPageSize) {
                request.page = pPageIndex;
                request.pageSize = pPageSize;
                loadGrid();
            }
        });


        //弹出框按钮定义
        var dd = $("#@(pageId)dd");
        dd.dialog({
            buttons: [
                {
                    text: '保存',
                    iconCls:'icon-save',
                    handler: function () {
                        var btn = $(this);
                        var form = $("#@(pageId)editform");

                        if (btn.linkbutton("options").disabled == false) {
                            var Reg = form.form('enableValidation').form('validate');
                            if (Reg) {
                                btn.linkbutton("disable");

                                window.setTimeout(function () {
                                    var d = form.serializeObject();
                                    console.log(d);
                                    var url = "/api/ApiWebPages/edit" + d.fun;
                                    $.post(url, d, function (json) {
                                        showmsg(json);
                                        btn.linkbutton("enable");
                                        if (json.code == 0) {
                                            //新增/编辑/删除图片
                                            var filelist = $("#@(pageId)piclist").find("li");
                                            var dellist = $("#@(pageId)dellist").find("li");
                                            if (filelist.length > 0) {
                                                var oldfiles = [];
                                                var newfiles = [];
                                                var delfiles = [];

                                                if (filelist.length > 0) {
                                                    $.each(filelist, function (i, n) {
                                                        var d = $(n).find("form").serializeObject();
                                                        d.sort = i;
                                                        if (d.fileId == "") {
                                                            //新增
                                                            newfiles.push(d);
                                                        }
                                                        else {
                                                            //编辑
                                                            oldfiles.push(d);
                                                        }
                                                    });
                                                    var addNewUrl = "";
                                                    var editOldUrl = "";
                                                    if (d.fun == "pic") {
                                                        addNewUrl = "/api/ApiWebPages/appendsortpic";
                                                        editOldUrl = "/api/ApiSysFile/editFilesSort";
                                                    }
                                                    else if (d.fun == "rote") {
                                                        addNewUrl = "/api/ApiWebPages/appendinfopic";
                                                        editOldUrl = "/api/ApiSysFile/editFilesInfo";
                                                    }

                                                    if (newfiles.length > 0) {
                                                        $.post(addNewUrl, { docId: json.result.Id, rows: newfiles }, function (json) {
                                                            console.log(json);
                                                        })
                                                    }
                                                    if (oldfiles.length > 0) {
                                                        $.post(editOldUrl, { rows: oldfiles }, function (json) {
                                                            console.log(json);
                                                        });
                                                    }
                                                }
                                                //删除
                                                if (dellist.length > 0) {
                                                    $.each(dellist, function (i, n) {
                                                        var d = $(n).find("form").serializeObject();
                                                        delfiles.push(d.fileId);
                                                    });
                                                    $.post("/api/ApiWebPages/delpic", { rows: delfiles }, function (json) {
                                                        console.log(json);
                                                    });
                                                }
                                            }

                                            dd.dialog("close");
                                            loadGrid();
                                        }
                                    });
                                }, 500);
                            }
                        }
                    }
                },
                {
                    text: '取消',
                    iconCls: 'icon-clear',
                    handler: function () {
                        dd.dialog("close");
                    }
                }
            ]
        });

        //搜索栏
        $("#@(pageId)querybtn").click(function () {
            var d = query.find("form").serializeObject();
            console.log(d);
            request.q = d.q;
            request.fun = d.fun;
            request.page = 1;
            loadGrid();
            grid.datagrid('getPager').pagination({
                pageNumber: 1
            });
        });

        $("#@(pageId)clearquerybtn").click(function () {
            query.find("form").form("clear");
        });
    });
</script>
<div id="@(pageId)dd" class="easyui-dialog dialogwin" data-options="inline:true,resizable:false,modal:true,closed:true,title:'新增/编辑'" style="width:90%;height:90%">
</div>
<div class="easyui-layout" data-options="fit:true">
    <div id="@(pageId)query" data-options="region:'north',border:false" style="padding:5px; background:#fdfdfd;">
        <form>
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                               <td>关键字:</td>
                               <td><input type="text" class="easyui-textbox" name="q" /></td>
                               <td>类型:</td>
                               <td>
                                   <select class="easyui-combobox" name="fun" style="width:100px;" id="@(pageId)selectfun"></select>
                               </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="@(pageId)querybtn">查询</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-clear'" id="@(pageId)clearquerybtn">清空查询栏</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'center',border:false">
        <div id="@(pageId)tb">
            <a href="javascript:void(0)" class="easyui-menubutton"
               data-options="menu:'#@(pageId)mm',iconCls:'icon-add'">新增</a>
            <div id="@(pageId)mm" data-options="onClick:@(pageId)menuHandler" style="width:150px;">
                @foreach (var s in funlist) {
                    <div data-options="name:'@s.id'">@s.text</div>
                }
            </div>
            <a href="#" class="easyui-linkbutton" iconCls="icon-clear" id="@(pageId)delrow" plain="true">删除</a>
        </div>
        <table id="@(pageId)grid"></table>
    </div>
</div>
<script>
    function @(pageId)menuHandler(item) {
        var url = "@Url.Action("edit", "ManagerWebDoc")";
        url = url + item.name + "?pageId=@(pageId)&catTreeId=@(condtion.catTreeIds[0])";
        console.log(url);
        $("#@(pageId)dd").dialog({
            href: url,
            title: '新增:' + item.text
        });
        $("#@(pageId)dd").dialog("open");
    }
</script>
