
@{
    Layout = null;
    VMEditWebDocPageRequest condtion = ViewBag.condtion;
    string q = JsonConvert.SerializeObject(condtion.catTreeIds);
    string pageId = ViewBag.pageId;

    List<SysFileSort> files = ViewBag.files;

}
<script>
    $(document).ready(function () {
        var treeSet = $.parseJSON('@Html.Raw(q)');
        var selectcat = $("#@(pageId)selectcat");
        var form = $("#@(pageId)editform");

        var Editor = KindEditor.create("#@(pageId)content", {
            uploadJson: '/File/upload?path=editor',//指定上传文件的服务器端程序。
            fileManagerJson: '/Scripts/kindeditor/asp.net/file_manager_json.ashx',//指定浏览远程图片的服务器端程序。
            allowFileManager: true,//true时显示浏览远程服务器按钮。
            afterBlur: function () {
                Editor.sync("#@(pageId)content");
            }
        });

        //分类树
        $.getJSON("/api/ApiSysCatTree/getTreelist?fun=webcms", function (json) {
            selectcat.combotree({
                data: json.result,
                animate: true,
                multiple: true,
                editable: false,
                cascadeCheck: false,
                lines: true,
                panelHeight: 'auto',
                onLoadSuccess: function (node, data) {
                    selectcat.combotree("setValues", treeSet);
                }
            });
        });

        $('#@(pageId)file_upload').uploadify({
            'swf': '/Content/uploadify.swf',
            'uploader': '/File/upload?path=webpage',
            'buttonText': '上传图集',
            'multi': true,
            'fileTypeDesc': 'Image Files',
            'fileTypeExts': '*.gif; *.jpg; *.png',
            'onUploadSuccess' : function(file, data, response) {
                console.log(data);
                data = $.parseJSON(data);
                if (data.error == "0") {
                    //将上传的图片追加到图集的末尾

                    //获取现有的图片的数量
                    var c = $("#@(pageId)piclist").find("li").length;
                    c = c + 1;
                    var piclist = $("#@(pageId)piclist");
                    var str = '<li id="" url="'+ data.url +'">' +
                                    '<div class="imglist"><img src="' + data.url + '" /></div>' +
                                    '<table class="btntable" style="width:100%">' +
                                        '<tr>' +
                                            '<td style="width:33%;">' +
                                                '<a href="#" class="@(pageId)setleft easyui-linkbutton" data-options="iconCls:\'icon-back\',plain:true"></a>' +
                                                    '</td>' +
                                            '<td style="width:33%;">' +
                                                '<a href="#" class="@(pageId)setdelete easyui-linkbutton" data-options="iconCls:\'icon-cancel\',plain:true"></a>' +
                                                    '</td>' +
                                            '<td style="width:33%;">' +
                                                '<a href="#" class="@(pageId)setright easyui-linkbutton" data-options="iconCls:\'icon-front\',plain:true"></a>' +
                                            '</td>' +
                                        '</tr>' +
                                    '</table>' +
                                '</li>';
                    piclist.append(str);
                    $.parser.parse(piclist);
                }
                else {
                    $.messager.alert('错误', data.message, 'error');
                }
            }
        });

        var leftbtn = ".@(pageId)setleft";
        var rightbtn = ".@(pageId)setright";
        var delbtn = ".@(pageId)setdelete";


        $(document).off("click", leftbtn);
        $(document).on("click", leftbtn, function () {
            //向左
            var li = $(this).parent().parent().parent().parent().parent();
            if (li.prev().length == 0) {
                return false;
            }
            li.prev().before(li[0]);
        });
        $(document).off("click", rightbtn);
        $(document).on("click", rightbtn, function () {
            //向右
            var li = $(this).parent().parent().parent().parent().parent();
            if (li.next().length == 0) {
                return false;
            }
            li.next().after(li[0]);
        });
        $(document).off("click", delbtn);
        $(document).on("click", delbtn, function () {
            var li = $(this).parent().parent().parent().parent().parent();
            if (li.attr("Id") != "") {
                li.appendTo("#@(pageId)dellist");
            }
            else {
                li.remove();
            }
        });

    });
</script>
<form id="@(pageId)editform">
    <input type="hidden" name="Id" value="@condtion.Id" />
    <input type="hidden" name="fun" value="@condtion.fun" />
    <table class="formtable" style="width:100%">
        <tr>
            <td class="t" style="width:80px;">标题</td>
            <td><input type="text" class="easyui-textbox" name="caption" style="width:300px;" data-options="required:true" value="@condtion.caption" /></td>
        </tr>
        <tr>
            <td class="t">别名&nbsp;<a href="#" title="设置别名后，可通过别名获取该文档的详情" data-options="position:'right'" class="easyui-tooltip">提示</a></td>
            <td>
                <input type="text" class="easyui-textbox" name="alias" data-options="validType:'checkWebDocAlias[\'@condtion.Id\']'" value="@condtion.alias" />
            </td>
        </tr>
        <tr>
            <td class="t">所在分类</td>
            <td><input type="text" class="easyui-combotree" id="@(pageId)selectcat" name="catTreeIds" data-options="required:true" style="width:300px;" /></td>
        </tr>
        <tr>
            <td class="t" style="width:80px;">发布时间</td>
            <td><input type="text" class="easyui-datebox" name="showTime" value="@condtion.showTime" /></td>
        </tr>
        <tr>
            <td class="t">SEO标题</td>
            <td><input type="text" class="easyui-textbox" name="seoTitle" style="width:250px;" value="@condtion.seoTitle" /></td>
        </tr>
        <tr>
            <td class="t">SEO关键字</td>
            <td><input type="text" class="easyui-textbox" name="seoKeyWords" style="width:400px;" value="@condtion.seoKeyWords" /></td>
        </tr>
        <tr>
            <td class="t">描述</td>
            <td><input type="text" class="easyui-textbox" name="describe" data-options="multiline:true" style="width:500px; height:60px;" value="@condtion.describe" /></td>
        </tr>
        <tr>
            <td class="t">上传图集</td>
            <td>
                <input type="file" id="@(pageId)file_upload" name="fileupload" />
            </td>
        </tr>
        <tr>
            <td class="t">图集</td>
            <td>
                <input type="hidden" name="files" value="," />
                <ul id="@(pageId)piclist" class="sortfilelist">
                    @foreach (var file in files) {
                        <li id="@file.Id">
                            <div class="imglist"><img src="@file.url" /></div>
                            <table class="btntable" style="width:100%">
                                <tr>
                                    <td style="width:33%;">
                                        <a href="#" class="@(pageId)setleft easyui-linkbutton" data-options="iconCls:'icon-back',plain:true"></a>
                                    </td>
                                    <td style="width:33%;">
                                        <a href="#" class="@(pageId)setdelete easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true"></a>
                                    </td>
                                    <td style="width:33%;">
                                        <a href="#" class="@(pageId)setright easyui-linkbutton" data-options="iconCls:'icon-front',plain:true"></a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    }
                </ul>
                <ul id="@(pageId)dellist" style="display:none;"></ul>
            </td>
        </tr>
        <tr>
            <td class="t">正文</td>
            <td><textarea name="content" id="@(pageId)content" style="width: 100%; height: 400px;">@condtion.content</textarea></td>
        </tr>
    </table>
</form>