
@{
    Layout = null;
    string pageId = ViewBag.pageId;
    string url = ViewBag.url;
    VMEditFileInfoRequest file = ViewBag.file;
}
<li>
    <form>
        <input type="hidden" value="@file.fileId" name="fileId" />
        <input type="hidden" value="@url" name="url" />
        <table class="imgfiletable">
            <tr>
                <td rowspan="3">
                    <table class="btntable">
                        <tr><td><a href="#" class="@(pageId)setup easyui-linkbutton" data-options="iconCls:'icon-arrow_up',plain:true"></a></td></tr>
                        <tr><td><a href="#" class="@(pageId)setdelete easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true"></a></td></tr>
                        <tr><td><a href="#" class="@(pageId)setdown easyui-linkbutton" data-options="iconCls:'icon-arrow_down',plain:true"></a></td></tr>
                    </table>
                </td>
                <td rowspan="3">
                    <div class="imglist"><img src="@url" /></div>
                </td>
                <td>标题：<input type="text" class="easyui-textbox" value="@file.title" name="title" style="width:150px;" /></td>
            </tr>
            <tr>
                <td>链接：<input type="text" class="easyui-textbox" value="@file.link" name="link" style="width:200px;" /></td>
            </tr>
            <tr>
                <td>描述：<input type="text" class="easyui-textbox" value="@file.describe" name="describe" data-options="multiline:true" style="width:300px; height:40px;" /></td>
            </tr>
        </table>
    </form>
</li>